@font-face{
    font-family: blacklist;
    src: url('../assets/fonts/The_Blacklist.ttf');
}
.blur{
    background: url("../assets/atmosp.jpg") no-repeat center center fixed;
    background-size:cover;
    overflow: hidden;
    position: absolute;
    filter: blur(5px);
    top: -5px;
    left: -5px;
    width: 100.2%;
    height: 100.4%
}
body{
    background: url("../assets/atmosp.jpg") no-repeat center center fixed;
    background-size:cover;
}
.centerhome{
    background-color: black;
    border: 5px solid white;
    border-radius: 50px;
    width: 600px;
    height: 200px;
    text-align: center;
    color:white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);  
}
.centerhome img{
    width:40%;
    height:40%;
    padding-top: 5px; 
    padding-bottom: 50px;
}
.centerhome #homep1{
    top:100px;
    display: block;
    font-family: blacklist;
    font-size: 
}
.footer{
    position: absolute;
    width: 99.3%;
    min-width: 500px;
    bottom: 2%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circlebutton {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: darkgray;
    margin: 0px 25px 0px 25px;
}
.circlebutton:hover{
    background-color: lightgray; 
}
.navtext {
    color: #fff;
  
    position: relative;
    left: -1px;
  
    font-family: blacklist;
    font-size: 20px;
    white-space: nowrap;
}

.aboutus{
    display:none;

}
.aboutus #slider1{
    width:90%;
    height: 20%;
    top:10%;
    left:5%;
    border: 5px solid white;
    background-color:darkslateblue;
    border-radius: 20px;
    position: absolute;
}
.aboutus #slider2{
    top:35%;
    left:5%;
    width:90%;
    height: 20%;
    border: 5px solid white;
    border-radius: 50px;
    position: absolute;
}
.tours{
    display:none;
}
.themes{
    display: none;
    
}
.themes #themeone{
    width:25%;
    height: 75%;
    top:48%;
    left:20%;
    border: 5px solid white;
    background-color:darkslateblue;
    border-radius: 20px;
    position: absolute;
    min-width: 265px;
    transform: translate(-50%, -50%);
}
.themes #themeone #themeselect1{
    left:50%;
    top:92%;
}
.themes #themetwo #themeselect2{
    left:50%;
    top:92%;
}
.themes .themebuttons{
    background-color: black;
    color:white;
    border: 5px solid gray;
    border-radius: 40px;
    min-width:200px;
    text-align: center;
    padding:10px;
    position:absolute;
    font-family: blacklist;
    transform: translate(-50%, -50%);  
}
.themes .themebuttons:hover{
    border: 5px solid white;
}
.themes #themetwo{
    width:25%;
    height: 75%;
    top:48%;
    left: 50%;
    border: 5px solid white;
    background-color:#f5ffa0;
    border-radius: 20px;
    position: absolute;
    min-width: 265px;
    transform: translate(-50%, -50%);
}
