@font-face{
    font-family: blacklist;
    src: url('../assets/fonts/The_Blacklist.ttf');
}
@font-face{
        font-family: phyton;
        src: url('../assets/fonts/Phyton.ttf');
}
@font-face{
        font-family: quantify;
        src: url('../assets/fonts/Quantify.ttf');
}

.blur{
    background-size:cover;
    overflow: hidden;
    position: absolute;
    filter: blur(5px);
    top: -5px;
    left: -5px;
    width: 100.2%;
    height: 100.4%
}
body{
    background-color: black;
    background-size:cover;
}
.header{
    color: white;
    border: 5px solid white;
    position:absolute;
    font-family: quantify;
    font-size: 50px;
    top: 50px;
    padding:10px;
    left: 50%;
    border-radius: 10px;
    width:700px;
    text-align: center;
    transform: translate(-50%, -50%); 
    background-color: black;
    display:none;
}
.centerhome{
    background-color: black;
    border: 5px solid white;
    border-radius: 50px;
    width: 600px;
    height: 200px;
    text-align: center;

    color:white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);  
}
.centerhome#demobutton{
    height: 5%;
    top:60%;
    font-family: quantify;
    font-size: 40px;
}
.centerhome#demobutton:hover{
    background-color: white;
    color:black;
}
.demovideo{
    position:absolute;
    width:95%;
    height:85%;
    background-color: darkslateblue;
    border: 5px solid white;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    left:50%;
    top:45%;
    display: none;
}
.demovideo #backbutton{
    background-color:black;
    border:5px solid white;
    border-radius: 30px;
    padding: 20px;
    font-family: quantify;
    left:97%;
    top:94%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
}
.demovideo #backbutton:hover{
    background-color: white;
    color:black;
}
.centerhome img{
    width:200px;
    height:70px;
    padding-top: 5px; 
    padding-bottom: 50px;
}
.centerhome #homep1{
    top:100px;
    display: block;
    font-family: quantify;
}
.footer{
    position: absolute;
    width: 98%;
    min-width: 500px;
    bottom: 2%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circlebutton {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: darkgray;
    margin: 0px 25px 0px 25px;
}

.navtext {
    color: #fff;
    position: relative;
    left: -1px;
    font-family: blacklist;
    font-size: 20px;
    white-space: nowrap;
}

.aboutus{
    display:none;
    font-size: 15px;
}
.aboutus .aboutboxes{
    width:90%;
    height: 35%;
    border: 5px solid white;
    border-radius: 20px;
    background-color:darkslateblue;
    position: absolute;
    
}
.aboutus .aboutboxes #info{
    margin-left: 10px;
    width: 700px;
    min-width: inherit;
    color: white
}
.aboutus .aboutboxes #head{
    color: white;
    text-align: center;
}
.aboutus #slider1{
    top:10%;
    left:5%;   
}
.aboutus #slider2{
    top:50%;
    left:5%;
    height: 37%;
}
#musicbox{
    text-align: center;
    bottom: 50px;
}
.musicpreview{
    width: 200px;
    height: 200px;
    padding-right: 50px;
    padding-left: 50px;
    display: inline-block;
}
.musicplayer{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: quantify;
    background-color: black;
    color:white;
    border-radius: 5px;
}
.musicplayer:hover{
    background-color: white;
    color:black;
}
#musicbox .albumtitle{
    font-family: quantify;
    background-color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.tours{
    display:none;
}
.tours #tourboxslider{
    position: absolute;
    background-color: darkslateblue;
    width:90%;
    height: 70%;
    padding: 10px;
    left:4%;
    top:12%;
    border: 5px solid white;
    border-radius: 50px;
}
.tours .tourboxes{
    background-color:white;
    margin: 20px;
    margin-top: 50px;
    width:232px;
    height: 232px;
    border: 5px solid black;
    border-radius: 30px;
    display:inline-block;
    color:black;
    font-family: quantify;
    
    text-align: center;
}
.tours a{
    
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:3px solid black;
    border-radius: 5px;
    font-size: 16px;
}
.tours a:hover{
    background-color: darkslateblue;
    color: white;
}
.tours h2{
    font-size: 20px;
}
.themes{
    display: none;
    text-align: center;
}
.themes h4{
    font-family: quantify;
    position:absolute;
    display: inline;
    transform: translate(-50%, -50%);
    padding-top:10px;
    padding-bottom: 10px;
    padding-right:5px;
    padding-left:5px;
    top: 5%;
    border-radius: 20px;
    border: 5px solid black;
    background-color: white;
    max-height: 100%;
    max-width: 100%;
}
.themes #themeone{
    width:25%;
    height: 75%;
    top:48%;
    left:20%;
    border: 5px solid white;
    background-color:darkslateblue;
    border-radius: 20px;
    position: absolute;
    min-width: 265px;
    transform: translate(-50%, -50%);
}
.themes #themeone #themeselect1{
    left:50%;
    top:92%;
}
.themes #themetwo #themeselect2{
    left:50%;
    top:92%;
}
.themes #themethree #themeselect3{
    left:50%;
    top:92%;
}
.themes .themebuttons{
    background-color: black;
    color:white;
    border: 5px solid gray;
    border-radius: 40px;
    min-width:200px;
    text-align: center;
    padding:10px;
    position:absolute;
    font-family: quantify;
    font-size:14px;
    transform: translate(-50%, -50%);  
}
.themes .themebuttons:hover{
    border: 5px solid white;
}
.themes #themetwo{
    width:25%;
    height: 75%;
    top:48%;
    left: 50%;
    border: 5px solid white;
    background-color:#f5ffa0;
    border-radius: 20px;
    position: absolute;
    min-width: 265px;
    transform: translate(-50%, -50%);
}
.themes #themethree{
    width:25%;
    height: 75%;
    top:48%;
    left: 80%;
    border: 5px solid white;
    background-color:#72ff9c;
    border-radius: 20px;
    position: absolute;
    min-width: 265px;
    transform: translate(-50%, -50%);
}
.store{
    display: none;
}
.storebox{
    position: absolute;
    background-color: darkslateblue;
    border: 5px solid white;
    border-radius: 20px;
    font-family: quantify;
}
.storebox#storeleft{
    width:60%;
    height: 77%;
    top:11%;
    left:5%;
}
.storebox#storedrop{
    width:20%;
    height: 77%;
    top:11%;
    left:70%;
    text-align: center;
}
.storeitem{
    margin:30px;
    padding:5px;
    text-align: center;
    background-color: white;
    width: 200px;
    height: 280px;
    display: inline-block;
    border: 5px solid black;
}
#cartbox{
    left:50%;
    top: 13%;
    padding-left: 35px;
}
#total{
    position: absolute;
    top:90%;
    left:50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}
#header1{
    width:200px;
}
.header2{
    width:55px;
}
#videobox{
    margin-left: 40px;
}
.storebox#reset{
    font-family: quantify;
    padding:10px;
    background-color: white;
    top:80%;
    left:40%;
}
.storebox#reset:hover{
    background-color: black;
    color:white;
}
@media screen and (max-device-width: 1441px), only screen and (max-width: 1441px){

    .header{
        width:90%;    
    }
    .footer {
        right: 0px;
        width:100%;
        top:0%;
        height:70px;
        background-color:black;
        padding-top:5px;
        padding-bottom: 5px;
        border-top:5px solid white;
        border-bottom: 5px solid white;
        position:fixed;
        min-width:0;
        }
    .tours #tourboxslider{
        top:100px;
        left:1px;
        width:90%;
        height:3800px;
    }
    .tours .tourboxes{
        display: inline-grid;
        left:50%;
        margin-left: 70px;
    }
    .themes #themeone{
    width:90%;
    height: 150px;
    left:50%;
    top: 200px;
    }
    .themes #themetwo{
    width:90%;
    height: 150px;
    left:50%;
    top: 400px;
    }
    .themes #themethree{
    width:90%;
    height: 150px;
    left:50%;
    top:600px;
    }
    .circlebutton{
        border-radius:10px;
        width:50px;
        margin: 0px 5px 0px 5px;
    }
    .centerhome{
        width:90%;
        font-size: 20px;
    }
    .navtext{
        padding-top: 5px;
    }
    .aboutus .aboutboxes{
        width:90%;
        height:400px;
        
    }
    .aboutus #slider1{
        top:100px;
        left: 4%;
        height:800px;
    }
    .aboutus #slider1 #info{
        width:90%;

    }
    .aboutus .aboutboxes#slider2{
        top:930px;
        height:1000px;
        left: 4%;
    }
    .musicpreview{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    iframe{
        width:300px;
    }

}
